* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: orange;
}

header {
  font-family: "Fuggles", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  padding: 0.3rem;
  background-color: rgb(9, 61, 9);
  color: rgb(230, 164, 0);
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}
#container {
  width: 80%;
  margin: 0 auto;
}

#question-container {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border: 0.3rem rgb(9, 61, 9) solid;
  border-radius: 1rem;
  background-color: darkgreen;
  color: rgb(230, 164, 0);
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 2px;
}

#answer-container {
  padding: 2rem;
  border-radius: 1rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.good {
  background-color: rgba(0, 146, 0, 0.884);
  box-shadow: 0.2rem 0.4rem 1 rgb(0, 85, 0);
}

.wrong {
  background-color: rgb(255, 0, 0);
  box-shadow: 0.2rem 0.4rem 1 rgb(160, 0, 0);
}

#controller-container {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

#start-button {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border: 0.3rem rgb(9, 61, 9) solid;
}

#showGameOver {
  color: rgb(230, 164, 0);
  border: 0.2rem rgb(87, 74, 74) solid;
  font-size: 4rem;
  border-radius: 2rem;
  text-align: center;
  padding: 2rem 0;
  background-color: rgb(9, 61, 9);
  letter-spacing: 0.4rem;
}

#game-over-text {
  font-family: "Fuggles", cursive;
}

#showScores {
  font-size: 1rem;
}

.btn {
  font-size: 1rem;
  border: 0.2rem grey solid;
  background-color: rgb(170, 205, 206);
  color: rgb(2, 88, 28);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  outline: none;
}

.btn:hover {
  border-color: rgb(95, 94, 94);
  color: rgb(4, 71, 1);
  font-weight: bold;
  box-shadow: 0.1rem 0.2rem 1rem rgb(14, 90, 10);

}

.btn:active {
  background-color: rgb(230, 164, 0);
  border-color: darkgreen;
}

.hide {
  display: none;
}
